body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    color:#efefef;
}

.mylinks:link, .mylinks:hover {
    color: #fff !important;
    text-decoration: none;
}

h2, p, li {
    color:#FFF;
}

.black {
    color:black;
}
.extraPadding {
    padding: 5px;
}

.customPanel {
    background-color: #efefef;
}

.customTable {
    color:#222;
    border:1px solid #fff !important;
    border-collapse: collapse !important;
}

.bottomFix {

    display:block;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0 !important;
}

button {
    width:100px;
}

.black {
    color:black;
}

@media screen and (max-width:750px) 
{
    header {
        padding:5%;
        padding-top:0;
    }

    .bottomFix {
        position:relative;
    }
}