.panel-danger>.panel-heading {
    /* background-image: -webkit-linear-gradient(top,#f2dede 0,#ebcccc 100%); */
    background-image: -o-linear-gradient(right, #000, #479b99);
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#ebcccc)); */
    /* background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}

.panel-danger>.panel-heading {
    background-image: -webkit-linear-gradient(right, #000, #479b99);
    background-image: -o-linear-gradient(right, #000, #479b99);
    background-image: -webkit-gradient(right, #000, #479b99);
    background-image: linear-gradient(to right, #000, #479b99);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}

.panel-danger>.panel-heading {
    color: #479b99;
    background-color: #479b99;
    border-color: #479b99;
}

.panel-danger {
    border-color: #FFF;
}

.customPanel {
    background-color: #efefef;
}

.footerline{
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 30px;
}

.footerleft {
    float: left;
    margin-left: 10px;
}

.footerright {
    float: right;
    color: #000;
    margin-right: 10px;
}

body{
   min-width:300px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:300px;             /* As IE ignores !important it will set width as 1000px; */
   
}
img{
 width: 100%;
 max-width: 100%;
 height: auto;
}
.navbar-brand{              /* Toi Ohomai Navbar Logo*/
        width: auto;
        height: auto;
}
.space {
    min-height: 1000px;
}

.black {
    color: black;
}

.editnav {
    text-align: center;
    color: #FFF;
}
.editjumbo {
    text-align: right;
    color: #FFF;
}

.editquicklink {
    text-align: center;
    color: #000;
}
.addnav {
    text-align: Left;
}
.removenav {
    text-align: Right;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.item {
    width: 100%;
    max-height:200px;
    max-width:800px;
}

.navbar {
    margin-bottom: 0px;
}

.container {
    margin: 0 auto;
}

/*
.jumbotron {
    background: #000; /* For browsers that do not support gradients 
    background: -webkit-linear-gradient(right, #000, #479b99); /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(right, #000, #479b99); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(right, #000, #479b99); /* For Firefox 3.6 to 15 
    background: linear-gradient(to right, #000, #479b99); /* Standard syntax 
    padding-top: 0px;
    padding-bottom: 20px;
    max-height: 200px;
}*/

/* ------------------------------------------------------------------------------- Nav Bar Start ----------------------------*/

.navbar-custom {
    background: -webkit-linear-gradient(right, #000, #479b99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, #479b99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, #479b99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, #479b99); /* Standard syntax */
    color:#ffffff;
    border-radius:0;
    z-index: 1;
}


.navbar, .dropdown-menu{
/*background:rgba(255,255,255,0.25);*/
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #479b99;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

.navbar-nav>li>a {
    padding-bottom: 5px;
}

/* ------------------------------------------------------------------------------- Nav Bar End ----------------------------*/
.jumbotron {
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #000, #479b99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, #479b99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, #479b99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, #479b99); /* Standard syntax */
    padding-top: 0px;
    padding-bottom: 20px;
    max-height: auto;
}
.jumbotron .container {
    max-width: 100%;
    height: auto;
}
.jumbotron p{
    color: #fff;
}

.jumbotron h1{
    color: #fff;
}
/* old button colour */

/*.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} */

/* new button color */
.btn-primary, .btn-primary:focus, .btn-primary.focus, 
.btn-primary:active, .btn-primary.active, .btn-primary:visited {
    color: #fff;
    background-color: #479b99;
    border-color: #479b99;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary.active:hover {
    color: #fff;
    background-color: #387a79;
    border-color: #387a79;
}

.content {
    width: 50%;
}

.info{
    padding:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.helpful:link {
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #387a79;
}

h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #000;
}

.maincontent {
    padding-bottom: 0px;
}

ul {
    padding-left: 20px;
}

/* Style the Image Used to Trigger the Modal */
#myImg, #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover, #myImg2:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal, .modal2{
    display: none; /* Hides it by default */
    position: fixed; /* Make sure it doesn't move */
    z-index: 2; /* To make it sit on top of everything */
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content, .modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    max-height: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-content2, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.black {
    color:black;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close, .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content, .modal-content2 {
        width: 100%;
    }
}

@media (min-width: 768px) {

    

    .heading {
        color: white;
        font-size: 40px;
    }

    .sub-heading {
        color: white;
        font-size: 20px;
    }
}

@media (max-width: 767px) {

    .title {
        font-size: 30px;
    }

    .heading {
        font-size: 30px;
    }

    .sub-heading {
        color: white;
        font-size: 12px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 180px;
    }

    .btn-group-lg>.btn, .btn-lg {
        padding: 10px 16px;
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 13px;
    }
}

@media (max-width: 418px) {

    .title {
        font-size: 20px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 180px;
    }


}

@media (max-width: 370px) {


    .heading {
        font-size: 20px;
    }

    .sub-heading {
        color: white;
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 400px;
    }   

    .btn-group-lg>.btn, .btn-lg {
        padding: 10px 16px;
        font-size: 12px;
        line-height: 1.3333333;
        border-radius: 6px;
    }


}

/*@media(min-width:370px) and  (max-width:615px) {
    
   .btn-success {
        padding: 10px;
        overflow:auto;
    }

    .btn-warning {
        padding: 10px;
        overflow:auto;
    }

    .btn-danger {
        padding: 10px;
        overflow:auto;
    }
    .col-xs-12.col-md-6{
        text-overflow: ellipsis;
        padding: 25px;

    }
    h1 {
        
        
         text-overflow: ellipsis;
    }

    body {          
            width: auto !important;  /* Firefox will set width as auto 
         } 

    } */

    @media(max-width:600px){
           
        .jumbotron p {
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 200;
        }
    }